@tailwind base;
@tailwind components;
@tailwind utilities;

/* bg dark blue #0b4d54 */
/* links light blue hover color : #80d4dd */
/* primary color: #00afaa */

.bg {
    background: linear-gradient(to top, #fff, transparent);
  }
  p {
    margin: 0!important;
    padding: 0!important;
  }
  a {
    text-decoration: none!important;
  }